h1 {
    color: blue;
}

html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header>h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid grey;
    padding: 2em 1em;
}

.tagify {
    padding: 0.5em;
    flex-grow: 1;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

.form-row .tagify__tag{
    --tag-bg: #0052BF;
    --tag-hover: #CE0078;
    --tag-text-color: #FFF;
    --tags-border-color: silver;
    --tag-border-radius: 25px;
    --tag-text-color--edit: #111;
    --tag-remove-bg: var(--tag-hover);
    --tag-inset-shadow-size: 1.35em;
    --tag-remove-btn-bg--hover: black;
}

.form-row>label {
    width: 100px;
}

.form-row>input,
.form-row>select {
    padding: 0.5em;
    flex-grow: 1;
}